*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: whitesmoke;
    box-sizing: content-box;
}
.container{
    position: fixed;
    top:20%;
    left: 20%;
    min-width: 60%;
    min-height: 60%;
    background-color: white;
    
}
.container table{
    position: absolute;
    top:20%;
    left: 20%;
    border: 2px solid ;
    border-collapse: collapse;
    width: 70%;
}
 table td{
    border: 2px solid ;
    padding: 10px;
   
}
ul li {
    margin: 15px;
}